.casts
  .cast.row
    .col-md-5
      = image_tag "software_as_a_service_application_5.png"
    .col-md-7
      %span.num episode #5 - 
      %span.app-title Software as a Service Application
      %h3 Add Devise & User Model
      Devise is an authentication library often used with Rails.  In this episode 
      we'll first spec out our User model and then generate it with Devise.

  .cast.row
    .col-md-5
      = image_tag "software_as_a_service_application_4.png"
    .col-md-7
      %span.num episode #4 -
      %span.app-title Software as a Service Application
      %h3 Adding Bootstrap
      In this episode we add Bootstrap, a popular front-end CSS and JavaScript framework,
      to our application using a handy Ruby Gem.

  .cast.row
    .col-md-5
      = image_tag "ex.png"
    .col-md-7
      %span.num episode #3 -
      %span.app-title Software as a Service Application
      %h3 Account Creation
      We're going to get our first high-level feature spec passing in this episode.
      However, we're going to cheat a little bit to do so.

  .cast.row
    .col-md-5
      = image_tag "ex.png"
    .col-md-7
      %span.num episode #2 -
      %span.app-title Software as a Service Application
      %h3 Account Model
      In this episode we create our first model: the Account model.  We'll spec out the
      model with RSpec before we create it.

  .cast.row
    .col-md-5
      = image_tag "ex.png"
    .col-md-7
      %span.num episode #1 -
      %span.app-title Software as a Service Application
      %h3 Intro & Setup
      In this series we're going to be building a multi-tenant software as a 
      service application with Rails.  In this episode we create and set up the application.
